.btn1 {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: rgb(148, 147, 147);
  cursor: pointer;
}

.active, .btn1:hover {
  background-color: rgb(83, 82, 82);
  color: white;
}